<?xml version="1.0" encoding="utf-8"?>
<!--
/*
**
** Copyright 2017, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.permission.VIBRATE" android:required="false" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="${applicationId}.permission.READ_SETTINGS"/>
    <uses-permission android:name="${applicationId}.permission.WRITE_SETTINGS"/>

    <!-- Pixel -->
    <permission
        android:name="${applicationId}.permission.QSB"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signatureOrSystem"/>

    <uses-permission android:name="${applicationId}.permission.QSB"/>

    <!-- Custom -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <!-- For weather / sunset/-rise -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- EMUI specific permissions -->
    <uses-permission android:name="com.android.permission.RECEIVE_LAUNCH_BROADCASTS"/>
    <!-- The following is NOT a typo, it is actually called wallpaperservcie ¯\_(ツ)_/¯ -->
    <uses-permission android:name="com.huawei.wallpaperservcie.permission.SET_WALLPAPER_OFFSET"/>
    <uses-permission android:name="com.huawei.android.thememanager.permission.ACCESS_CHANGE_WALLPAPER"/>
    <uses-permission android:name="com.android.launcher.permission.LAUNCHER_ANIMATION"/>
    <uses-permission android:name="com.inveno.hwread.permission.LAUNCHER_RECEIVE"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REMOVE_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET DETAILED TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_INSTANT_APPS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CREATE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Used for Google/Kiosk predictions, solely used to read bt connection state -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="org.pixelexperience.weather.client.READ_WEATHER"/>

    <permission
        android:name="${applicationId}.permission.BROADCAST_BUGREPORT"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${applicationId}.permission.BROADCAST_BUGREPORT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="xyz.paphonb.systemuituner.permission.MODIFY_NAVBAR"/>

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="tech.DevAsh.Launcher.KioskApp">
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.ActivityList" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.EditApp" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.Mode" />
        <activity
            android:theme="@style/keyOS"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:name="tech.DevAsh.KeyOS.Helpers.KioskHelpers.PasswordPrompt"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.Password"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.ContactsInput"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.ContactList" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.PhoneCalls" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.PhoneBook"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Helpers.KioskHelpers.HelperLauncher"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- launcher -->
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.Permissions" />

        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.AllowApps" />
        <activity
            android:theme="@style/keyOS"
            android:name="tech.DevAsh.KeyOS.Config.Settings"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="tech.DevAsh.KeyOS.SplashScreen"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="tech.DevAsh.KeyOS.Services.UsageAccessService"
            android:exported="true"
            android:process=":externalProcess" />

        <receiver
            android:name="tech.DevAsh.KeyOS.Receiver.ActivityChangeReceiver"
            android:enabled="true"
            android:exported="true"
            />
        <receiver
            android:name="tech.DevAsh.KeyOS.Receiver.PhoneCallReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tech.DevAsh.KeyOS.Receiver.SampleAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name="tech.DevAsh.KeyOS.Services.WindowChangeDetectingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"
                android:screenOrientation="portrait" />
        </service>



<!--        end keyOS-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity
            android:autoRemoveFromRecents="true"
            android:label="@string/derived_app_name"
            android:name="tech.DevAsh.Launcher.font.settingsui.FontSelectionActivity"
            android:theme="@style/SettingsTheme.V2"
            android:parentActivityName="tech.DevAsh.Launcher.settings.ui.SettingsActivity" />



        <service
            android:name="com.android.launcher3.uioverrides.WallpaperManagerCompat$ColorExtractionService"
            android:exported="false"
            android:process=":wallpaper_chooser"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <!-- Pixel -->
        <activity
            android:name="com.google.android.apps.nexuslauncher.search.AppLaunchActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.apps.nexuslauncher.search.APP_LAUNCH"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:mimeType="vnd.android.cursor.dir/vnd.android.search.suggest"
                    android:scheme="content"/>
            </intent-filter>
        </activity>


        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.LongClickReceiver"/>

        <provider
            android:authorities="${applicationId}.appssearch"
            android:exported="true"
            android:name="com.google.android.apps.nexuslauncher.search.AppSearchProvider"/>

        <!--         Custom -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <meta-data
            android:name="com.samsung.android.non_immersive"
            android:value="true"/>




        <!-- Mimetype for .shed backup files -->
        <provider
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>




        <!-- Actions -->
        <activity
            android:icon="@mipmap/ic_launcher"
            android:label="@string/Kiosk_actions"
            android:name="tech.DevAsh.Launcher.gestures.KioskShortcutActivity"
            android:theme="@style/SettingsTheme.V2">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tech.DevAsh.Launcher.gestures.ui.RunHandlerActivity"
            android:theme="@style/SettingsTheme.V2.Transparent"
            android:taskAffinity="${applicationId}.tasks.RUN_HANDLER">
            <intent-filter>
                <action android:name="ch.deletescape.Kiosk.START_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Gesture app selection -->

        <activity
            android:name="tech.DevAsh.Launcher.BlankActivity"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name="tech.DevAsh.Launcher.FakeLauncher"
            android:enabled="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- DT2S using screen timeout -->
        <activity
            android:name="tech.DevAsh.Launcher.gestures.handlers.SleepTimeoutActivity"
            android:screenOrientation="locked"
            android:theme="@style/SleepTimeoutTheme"/>

        <!-- DT2S using device admin -->
        <receiver
            android:description="@string/dt2s_admin_hint"
            android:name="tech.DevAsh.Launcher.gestures.handlers.SleepMethodDeviceAdmin$SleepDeviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/sleep_admin_policy"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

<!--        <service-->
<!--            android:name="ch.deletescape.keyOS.Launcher.KioskAccessibilityService"-->
<!--            android:label="@string/derived_app_name"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <!-- Kustom 5s support -->
        <provider
            android:name="tech.DevAsh.Launcher.FiveSecsProvider"
            android:authorities="${applicationId}.fivesecsprovider"
            android:exported="true"
            android:grantUriPermissions="true"/>


    </application>

</manifest>
